.Main_chat
  .Main_chat__right-header
    .Group-info
      .Group-info__name
        =@group.name
      %ul.Group-info__member-list
        %li.Group-info__list-top Member：

        - @group.group_users.each do |group|
          %li.Group-info__member 
            = group.user.name
    = link_to edit_group_path(@group), class: "Edit-btn" do
      Edit

  .Main_chat__message-field
    = render @messages

  .Main_chat__footer 
    = form_with model: [@group, @message], html: {class: "Form-info"}, local: true do |f|
      .Form-info__contents
        = f.text_field :body, class: 'Form-info__message-box', placeholder: 'type a message'
        = f.label :image, class: 'Form-info__input-image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Form-info__input-file'
      = f.submit 'Send', class: 'Form-info__submit-btn'

