.Side_bar
  .Side_bar__left-header
    .Top-items
      .Top-items__user-name
        = current_user.name
      .Top-items__icons
        = link_to new_group_path, class: "Top-items__icon" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "Top-items__icon" do
          = icon('fas', 'cog')

  .Side_bar__group-list
    - current_user.groups.each do |group|
      .Group
        = link_to group_messages_path(group) do
          .Group__name
            = group.name
          .Group__top-message
            = group.show_last_message





